*{
    padding: 0px;
    margin: 0px;
}
i {
    font-style: italic;
}
ul{
    display:block;
}
ol,ul{
    list-style: none;
}
body, button, input, select, textarea {
    font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
.b-warp{
    width:1414px;
    margin:0 auto;
}

.rank-container{
    border:0px;
    margin: 20px 0px;
    border-radius: 4px;
}

li.active{
    color: #00a1d6;
    height: 38px;
    border-bottom: 2px solid #00a1d6;
}

.rank-menu li:first-child{
    margin-left:0px;
}
.rank-menu, .rank-menu li {
    text-align: center;
}
.rank-menu li{
    width:115px;
    height:40px;
    font-size: 18px;
    line-height: 25px;
    padding: 0 12px;
    margin-left: 52px;
    display: inline-block;
    cursor:pointer
}

.rank-menu li{
    text-align: center;
}

.rank-icon{
    display: inline-block;
    width: 30px;
    height:30px;
    vertical-align: middle;
    background:url("../asserts/icons.png") no-repeat;
}
.rank-icon.all{
    background-position: -83px -979px;
}
.rank-icon.origin{
    background-position: -83px -1041px;
}
.rank-icon.bangumi{
    background-position: -83px -1107px;
}

.rank-icon.cinema{
    background-position: -146px -1555px;
}
.rank-icon.rookie{
    background-position: -83px -1170px;
}

.rank-tab-wrap {
    background: #edf2f9;
    padding: 0;
    border-radius: 4px;
    clear: both;
    height: 40px;
}

.rank-tab-wrap .rank-tab{
    float: left;
}

.rank-tab-wrap .rank-tab li{
    float: left;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.rank-type-dropdown {
    float: right;
}
.rank-tab-wrap .rank-dropdown {
    margin-top: 8px;
    margin-right: 10px;
}
.bili-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    cursor: default;
    padding: 0 7px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
}
.selected {
    display: inline-block;
    vertical-align: top;
}

.bili-dropdown .dropdown-list {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #ccd0d7;
    border-top: 0;
    left: -1px;
    top: 22px;
    z-index: 10;
    display: none;
    border-radius: 0 0 4px 4px;
}
.dropdown-list .dropdown-item {
    cursor: pointer;
    margin: 0;
    padding: 3px 7px;
}

.bili-dropdown .icon-arrow-down {
    background-position: -475px -157px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 6px;
    margin-left: 5px;
    margin-top: -1px;
}

.icon {
    display: inline-block;
    background:url("../asserts/icons.png") no-repeat;
}

.rank-list-head {
    padding: 15px 0;
}

.rank-list-head .rank_tips {
    padding: 7px 0;
    background-color: #edf2f9;
    border-radius: 4px;
}

.rank-list-head .rank_tips .b-icon-tip {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    background: url("../asserts/icons_1.png") -52px -27px no-repeat;
}
.rank-list-head .rank_tips .tip-txt {
    vertical-align: middle;
}

.rank-item {
    transition: .2s;
    overflow: hidden;
    border-bottom: 1px solid #e5e9ef;
    position: relative;
}

.rank-item .num {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 0;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #b8c0cc;
    font-family: simhei;
}

.rank-item .content {
    padding: 20px 0 0 70px;
    overflow: hidden;
}
.rank-item .content .img {
    position: relative;
    float: left;
}
.rank-item .content .img a {
    display: inline-block;
}
a, a:hover, ins {
    text-decoration: none;
}
a {
    transition: color .2s;
}

.rank-item .content .img .cover {
    width: 114px;
    height: 70px;
}

.lazy-img {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABHCAMAAAB4UkqjAAAAh1BMV…cJ5cRyMlHrbkdG5c/5r82fYqt+K/iR89m2JrP9PEZyI80PsPxVT0P3FAEAAAAASUVORK5CYII=) 50% no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.rank-item .content .img .cover img {
    border-radius: 4px;
}

.lazy-img img {
    display: block;
    width: 100%;
    height: 100%;
}
fieldset, img {
    border: none;
    vertical-align: middle;
}
.rank-item .content .img .w-later {
    display: none;
}

.watch-later-trigger {
    display: none;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 6px;
    bottom: 4px;
    cursor: pointer;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABT0lEQ…HyYYxBKXU9+p5Grybg4m1Hk9Bar4Ee4JC0JWeixOhprdffE/1yRW/TLMYAAAAASUVORK5CYII=);
}

.rank-item .content .info {
    padding-bottom: 20px;
    margin-left: 130px;
    height: 70px;
    position: relative;
    display: block;
}

.rank-item .content .info .title {
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #222;
    transition: .3s;
    display: inline-block;
}
.rank-item .content .info .detail {
    margin-top: 20px;
    color: #99a2aa;
}

.rank-item .content .info .detail .data-box {
    width: 80px;
    margin-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rank-item .content .info .detail .b-icon.play {
    background-position: -282px -90px;
}
.rank-item .content .info .detail .b-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    background: url("../asserts/icons.png") no-repeat;
}
.rank-item .content .info .detail .data-box {
    width: 80px;
    margin-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rank-item .content .info .detail .b-icon.view {
    background-position: -282px -218px;
}
.rank-item .content .info .detail .b-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    background: url("../asserts/icons.png") no-repeat;
    
}
.rank-item .content .info .detail .fav {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url("../asserts/bangumi-zf-icon.png") no-repeat;
}
.rank-item .content .info .detail a {
    color: #99a2aa;
}

.rank-item .content .info .detail .data-box {
    width: 80px;
    margin-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rank-item .content .info .detail .b-icon.author {
    background-position: -282px -154px;
}

.rank-item .content .info .detail .b-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    background: url("../asserts/icons.png") no-repeat;
    
}

.rank-item .content .info .pts {
    height: 20px;
    color: #b8c0cc;
    line-height: 20px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    text-align: center;
}

.rank-item .content .info .pts div {
    color: #00a1d6;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}
.other {
    height: 52px;
    border-top: 1px solid #e5e9ef;
    margin-left: 130px;
    font-size: 12px;
    overflow: hidden;
    font-size: 14px;
    transition: height .3s;
}

.other .other-link {
    margin-right: 20px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    max-width: 640px;
    display: block;
    text-overflow: ellipsis;
    padding: 15px 0;
}
.other .other-link .title {
    color: #222;
    margin-right: 10px;
    transition: .2s;
}
.other span {
    color: #99a2aa;
    margin-right: 5px;
}
.other span {
    color: #99a2aa;
    margin-right: 5px;
}
.other strong {
    color: #00a1d6;
}
strong {
    font-weight: bold;
}
.more-data {
    display: block;
    margin: 0 0 18px 130px;
    font-size: 14px;
    color: #00a1d6;
    transition: .2s;
}